body{
    margin: 0; padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center; font-size: 1.25rem;
}
* {box-sizing: border-box;  margin: 0; padding: 0; }
.container {
    max-width: 1440px; margin: 0 auto; padding: 20px;
}
h1{ font-size: 3rem; letter-spacing: 3px; color: #ffeb00; font-family: cursive;}
header,footer {background-color: darkgoldenrod;  }
main  {background-color: rgb(255, 205, 255); 
    height: 80vh;

    .container { display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;
        .box{ width: 220px; margin: 20px; text-align: center; display: flex; align-items: center; border: 10px double black; height:220px; justify-content: center;          
        }
        .red { background: linear-gradient(to right, rgba(255, 0, 0, 0) 20%, red 100%);
                background-size: 300% 100%;
                background-position: right bottom;
                transition: all .5s ease-out;   border-color: white;  }
        .blue { background-color: rgb(0, 0, 255); border-color: white;
             background: linear-gradient(to top, rgba(36, 35, 61, 0) 0%, rgb(64, 1, 255) 5%);
                background-size: 50% 100%;
                background-position: right bottom;
                transition: all .5s ease-out; 
        }
        .green { background-color: green; border-color: white;}
        .yellow { background-color: yellow; border-color: white;}

        &.form { justify-content: center; padding: 50px;
            form { width: 100%;}
            .input { border: 1px goldenrod solid; border-radius: 4px; padding: 5px; max-width: 400px;  width: 50%; outline: 0; text-align: center; color: red; font-size: 1.5rem; box-shadow: 1px 1px 1px 1px #000000;
                &::placeholder { color: red; font-family:cursive;}
            }

            .button { border: 1px goldenrod solid; border-radius: 4px; padding: 5px 25px;   outline: 0; text-align: center; background-color: red; font-size: 1.5rem; color: white; box-shadow: 1px 1px 1px 1px #000000;
                &:hover {   text-shadow: 2px 2px 1px #000000;}
            }

        }
    }
}

@keyframes bgfill {
    form{ bottom:0}
    to{ bottom: 100%;}    
}